---
import type { ProjectI } from '../types/project'
import Github from './icons/Github.astro'
import { useTranslation, type Locale } from '../i18n/i18n'
import Link from './Link.astro'
import ThemedImage from './ThemedImage.astro'

export interface Props {
  project: ProjectI
}

const { project } = Astro.props

const currentLocale = Astro.currentLocale as Locale
const t = useTranslation(currentLocale)
---

<article class='group flex overflow-hidden h-72 relative shadow-lg rounded-sm'>
  <Link
    target='_blank'
    href={project.web ?? project.github}
    class='hover:text-inherit w-full'
  >
    <ThemedImage
      class='group-hover:scale-105 h-72 w-full object-cover transition-transform ease-in'
      alt={project.name}
      dark={project.image.dark}
      light={project.image.light}
    />
  </Link>
  <footer
    class='absolute bottom-0 left-0 right-0 p-2 flex justify-between items-center bg-on-primary opacity-95 transition-all border-t-2 border-t-primary'
  >
    <div>
      <h4 class='font-semibold'>{project.name}</h4>
      <ul class='flex gap-1 list-none'>
        {
          project.technologies.map((technology) => (
            <li>
              <img alt={technology} src={technology} width='20' height='20' />
            </li>
          ))
        }
      </ul>
    </div>
    <nav>
      <Link
        href={project.github}
        target='_blank'
        aria-label={t('aria.label.link.github.project')}
      >
        <Github width='40px' height='40px' />
      </Link>
    </nav>
  </footer>
</article>
<style></style>
