---
import type { ProjectI } from '../types/project'
import Github from './icons/Github.astro'

export interface Props {
  project: ProjectI
}

const { project } = Astro.props;
---

<article class="group flex overflow-hidden h-72 relative shadow-lg rounded-sm">
  <a
    target="_blank"
    href={project.web ?? project.github}
    class="hover:text-inherit w-full"
  >
    <img
      class="group-hover:scale-105 h-72 w-full object-cover transition-transform ease-in"
      src={project.image}
      alt={project.name}
    />
  </a>
  <footer
    class="absolute bottom-0 left-0 right-0 p-2 flex justify-between items-center bg-[var(--background-color)] opacity-0 transition-all group-hover:opacity-100 border-t-2 border-t-black"
  >
    <div>
      <h4>{project.name}</h4>
      <ul class="flex gap-1 list-none">
        {
          project.technologies.map((technology) => (
            <li>
              <img alt={technology} src={technology} width="20" height="20" />
            </li>
          ))
        }
      </ul>
    </div>
    <nav>
      <a
        href={project.github}
        target="_blank"
        aria-label="Ver proyecto en Github"
      >
        <Github width="40px" height="40px" />
      </a>
    </nav>
  </footer>
</article>
<style></style>
